<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 text-white d-flex">
                    <div class="topbar-mail">
                        <span class="iconify" data-icon="uil:envelope-alt"></span>mhhasanul@gmail.com
                    </div>
                    <div class="topbar-phone">
                        <span class="iconify" data-icon="bx:phone-call"></span>(12345)67890
                    </div>
                </div>
    
                <div class="col-xl-6 col-lg-6 col-md-6 p-0 header-top-rightbar">
                    <ul class="nav justify-content-end pt-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white pe-0" data-toggle="dropdown" href="#" 
                            role="button" aria-haspopup="true" aria-expanded="false">English</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Spain</a>
                                <a href="#" class="dropdown-item">Frech</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white pe-0" data-toggle="dropdown" href="#" 
                            role="button" aria-haspopup="true" aria-expanded="false">USD</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">EURO</a>
                                <a href="#" class="dropdown-item">VND</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="../html/login.html" class="nav-link text-white pe-0">Login<span class="iconify" data-icon="carbon:user" style="margin-bottom: 4px;"></span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white pe-0">Wishlist <span class="iconify" data-icon="uil:heart-alt" style="margin-bottom: 4px;"></span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white pt-1 pe-0"><span class="iconify" data-icon="fluent:cart-24-regular" style="font-size: 24px;"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </section>
    <section class="navbar-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg" > <!--id="hekto-navbar"-->
                <div class="container-fluid">
                    <a href="../index.html" class="navbar-brand fw-bold">Hekto</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
                    aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                        <ul class="navbar-nav col-xl-6 col-lg-6 col-md-6">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="../index.html" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="shop-left-sidebar.html">Shop Left Sidebar</a>
                                    <a class="dropdown-item" href="shop-list.html">Shop List</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Pages</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Products</a>
                            </li>
                            <li class="nav-item">
                                <a href="../html/blog-page.html" class="nav-link">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="../html/shop-grid-default.html" class="nav-link">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a href="../html/contact.html" class="nav-link">Contact</a>
                            </li>
                        </ul>

                        <form class="form-inline my-2 my-lg-0 d-flex col-xl-6 col-lg-6 col-md-6 justify-content-end pe-0">
                            <input type="search" name="" id="" class="form-control mr-sm-2">
                            <button type="submit" class="btn btn-search my-2 my-sm-0"><span class="iconify" data-icon="uil:search"></span></button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</body>
</html>