.module{
    margin-top: 125px;
}


/* ======   POST    ====== */
.post{
    margin: 0 0 40px;
}

.post .post__thumbnail{
    margin: 0 0 27px;
    border-radius: 6px;
}

.post .post__thumbnail img{
    width: 100%;
    height: auto;
}

.post__header .post__meta .author .iconify{
    color: #FB2E86;
    margin-right: 11px;
}
.post__header .post__meta .author .author_name{
    background: #FFE7F9;
    border-radius: 2px;
    padding: 4px 43px;
    color: #151875;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.post__header .post__meta .date .iconify{
    color: #FFA454;
    margin-left: 28px;
    margin-right: 8px;
}
.post__header .post__meta .date .datetime{
    background: #FFECE2;
    border-radius: 2px;
    padding: 3px 23px;
    color: #151875;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    font-family: 'lato',sans-serif;
}

.post__header .post__title{
    margin-top: 28px;
}
.post__header .post__title a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #151875;
}

.post .post__entry{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #8A8FB9;
    margin-top: 23px;
    /* width: 852px; */
}

.post .post__more{
    margin-top: 31px;
}
.post .post__more .more__link{
    text-decoration: none;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #151875;
}
.more__link::after{
    content: '\25CF';
    width: 4px;
    height: 5px;
    color: #FB2E86;
}

/* PAGINATION */
.pagination{
    display: inline-block;
    justify-content: center;
    margin-top: 71px;
}

.pagination a{
    padding: 2px 11px;
    text-decoration: none;
    border: 1px solid #E0D3F5;
    border-radius: 2px;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #E0D3F5;
    margin-left: 18px;
    margin-right: 18px;
}

.pagination a.active{
    background: #FB2CA8;
    color: #fff;
    border: 1px solid #FB2CA8;
}



/* =====   RIGHT SIDEBAR   ===== */
.widget{
    margin-bottom: 37px;
}
.widget .widget__title{
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: #151875;
}

.right__sidebar__search .search-box{
    width: 270px;
    position: relative;
    padding-bottom: 15px;
}

.right__sidebar__search .search-box input{
    margin: 0;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 2px;
    border: 1px solid #BDBDD8;
}

.right__sidebar__search .search-box input::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: rgba(21, 24, 117, 0.1);
}

.right__sidebar__search .search-box button{
    position: absolute;
    top: 12px;
    right: 26px;
    border: none;
    z-index: 2;
    cursor: pointer;
    color: #CBCBE0;
    background: none;
    height: 16px;
}

.widget ul{
    padding-left: 0;
}
.widget ul li{
    list-style: none;
}

.widget__categories{
    margin-top: 25px;
}

ul.widget__categories, ul.widget__offer__products {
    columns: 2;
}
.widget__categories li{
    width: 122px;
    /* height: 30px; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
}
.widget__categories li a{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color:#3F509E;
}

.widget__categories li:hover,
.widget__categories a:hover{
    color: #fff;
    background-color: #F939BF;
    border-radius: 3px;
}

.widget__posts, .widget__sale__products, .widget__offer__products{
    margin-top: 37px;
}

.widget__posts li , .widget__sale__products li{
    display: flex;
    margin-bottom: 22px;
}

.widget__posts .widget_posts_image,
.widget__sale__products .widget_products_image{
    margin-right: 6px;
}

.widget__posts .widget_posts_title a,
.widget__sale__products .widget_products_title a{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3F509E;
}

.widget__posts .widget_posts_meta,
.widget__sale__products .widget_products_meta{
    font-family: 'lato', sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #8A8FB9;
}

.widget__sale__products .widget_products_image{
    border-radius: 3px;
}

.widget__offer__products {
    width: 267px;
}

.widget__offer__products li{
    width: 126px;
}

.widget__offer__products .widget__offer__product__img img{
    width: 100%;
    border-radius: 2px;
}
.widget__offer__products .widget__offer__product__body{
    text-align: center;
    margin-top: 9px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;

}
.widget__offer__products .widget__offer__product__name{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #151875;
}

.widget__offer__products .widget__offer__product__price{
    font-size: 12px;
    line-height: 14px;
    color: #8A8FB9;
    margin-top: 6px;
}

.right__sidebar__follow a{
    width: 25px;
    height: 25px;
    margin-left: 14px;
    border-radius: 50%;
}
.right__sidebar__follow a.facebook{
    background-color: #5625DF;
}
.right__sidebar__follow a.instagram{
    background-color: #FF27B7;
}
.right__sidebar__follow a.twitter{
    background-color: #37DAF3;
}
.right__sidebar__follow .iconify{
    color: #fff;
    margin: 4px;
}

.right__sidebar__tags .tags a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #151875;
    margin-right: 41px;
}
.right__sidebar__tags .tags a:hover{
    color: #FB2E86;
}


