.main-container{
    padding-top: 124px;
}
.main-container .title{
    margin-bottom: 42px;
}
.main-container .title h4{
    font-size: 22px;
    line-height: 26px;
    color: #151875;
    font-weight: 700;
}
.main-container .title p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8A8FB9;
}

.product-sorting{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #3F509E;
}

input#per-page{
    width: 55px;
    height: 25px;
    border: 1px solid #E7E6EF;
    margin-left: 8px;
    margin-right: 27px;
}

.product-sorting .nice-select{
    font-family: 'lato', sans-serif;
    color: #8A8FB9;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    height: auto;
    padding: 5px 24px 5px 11px;
}

.product-sorting .nice-select::after{
    content: url('https://api.iconify.design/akar-icons/chevron-down.svg?color=%238a8fb9&width=12');
    /* color: #8A8FB9; */
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    top: 35%;
    right: 16px;
    transform: none;

}

.view a{
    margin-left: 5px;
}

.view .iconify{
    color: #151875;
}

.view input{
    width: 162px;
    height: 30px;
    margin-left: 27px;
    border: 1px solid #E7E6EF;
}

.product__item{
    position: relative;
    margin-top: 81px;
}

.product__item .card  {
    box-shadow: none;
}
.product__item .card .card-img-top{
    background: #F6F7FB;
    height: 280px;
    padding-bottom: 30px;
}
.product__item:hover .card-img-top{
    background: #EBF4F3;
}

.product__item .product__item__img .product__item__hover {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    margin-left: 11px;
}
.product__item:hover .product__item__img .product__item__hover {
    visibility: visible;
    opacity: 1;
    top: 50%;
}

.product__item .product__item__img .product__item__hover a{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #151875;
    margin-bottom: 5px;
}
.product__item .product__item__img .product__item__hover a:hover{
    background: #fff;
}

.product__item .product__item__img .product__item__hover .iconify{
    margin: 7px;
}

.product__item .card .card-body{
    padding-bottom: 0;
}
.product__item:hover .card .card-body{
    background: #fff;
}

.product__item .product__item__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #151875;
}

.product__item .product__color__select label{
    width: 12.15px;
    height: 12.15px;
    border-radius: 7px;
    background: #DE9034;
    position: relative;
    cursor: pointer;
}
.product__item .product__color__select label input{
    position: absolute;
    visibility: hidden;
}
.product__item .product__color__select label.pink{
    background: #EC42A2;
}

.product__item .product__color__select label.blue{
    background: #8568FF;
}

.product__item .product__item__price{
    font-size: 14px;
    font-weight: 400;
    color: #FB2E86;
}
.product__item .product__item__price .reduced__price{
    color: #151875;
}


/* RESPONSIVE */
@media (min-width:992px) and (max-width: 1199.98px) {
    .main-container{
        padding-top: 60px;
    }
    .main-container .title{
        margin-bottom: 0;
    }
    
}
@media (max-width: 991.98px) {
    .main-container{
        padding-top: 20px;
    }
    .main-container .title{
        margin-bottom: 0;
    }
    .product__item{
        margin-top: 0;
        padding-top: 10px;
        padding-left: 0;
    }
    .product__item .card .card-img-top {
        padding-top: 20px;
        height: 230px;
    }

}